@import './normalize';
@import './variables';

body {
    background: #FFF;
    color: #252525;
    font-weight: 600;
    font-family: $font-montserrat;
}

.container {
    max-width: 1680px;

    @include media(1750) {
        max-width: 1360px;
    }

    @include media(1420) {
        max-width: 1140px;
    }

    @include media(1199) {
        max-width: 960px;
    }

    @include media(991) {
        max-width: 720px;
    }

    @include media(767) {
        max-width: 540px;
    }

    @include media(575) {
        max-width: calc(100% - 36px);
    }
}

.btn {
    &-purple {
        background: #88368C;
        color: white;
        border-radius: 5px;
        padding: 10px 42px;
        font-size: 24px;
        font-family: $font-roboto;
        font-weight: bold;
        line-height: 38px;
        border: 0;
        display: inline-flex;
        align-items: center;
        gap: 14px;

        &:hover {
            color: #FFF;
            background: #751f7a;
        }

        @include media(991) {
            padding: 9px 30px;
        }

        @include media(575) {
            width: 100%;
            justify-content: center;
        }
    }

    &-yellow {
        font-size: 24px;
        font-weight: bold;
        font-family: $font-roboto;
        line-height: 38px;
        color: #252525;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background: #FFD000;
        text-align: center;

        &:hover {
            color: #252525;
            background: #e7be06;
        }
    }
}

// Header
.header {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: 4;

    @include media(991) {
        background: #88368C;
        top: 0;
    }

    &-container {
        background: rgba(255, 255, 255, 0.8);
        padding: 0 30px;
        border-radius: 10px;

        @include media(991) {
            padding: 12px 0;
            background: transparent;
            border-radius: 0;

            &>div {
                gap: 14px;
            }
        }
    }

    a {
        font-size: 24px;
        line-height: 120%;
        color: #88368C;
        padding: 13px 20px;
        height: 100%;
        display: flex;
        align-items: center;

        @include media(1199) {
            font-size: 20px;
        }

        @include media(991) {
            font-size: 16px;
            padding: 0;
        }

        &.active, &:hover {
            background: #FFF;
        }
    }

    .search-btn {
        width: 32px;
        height: 32px;
    }

    .bars {
        width: 44px;
        height: 44px;
    }
}
// Header end

// Mobile menu
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;

    &.active {
        @include media(991) {
            display: block;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.619);
    }

    &__content {
        width: 300px;
        position: relative;
        height: 100%;
        background: #FFF;
        padding: 30px;

        ul {
            gap: 12px;
        }

        a {
            font-size: 18px;
        }
    }
}
// Mobile menu end

// Home
.home {
    position: relative;
    z-index: 1;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1248px;
        z-index: -1;
        object-fit: cover;
        object-position: center bottom;

        @include media(991) {
            height: calc(100% - 82px);
        }
    }

    &-container {
        padding: 124px 0 48px;

        @include media(991) {
            padding: 78px 0 29px;
        }
    }

    &-box {
        width: 402px;
        height: 402px;
        z-index: 1;
        flex-shrink: 0;

        @include media(991) {
            position: absolute !important;
            left: 50%;
            top: 143px;
            transform: translateX(-50%);
            width: 280px;
            height: 280px;
        }

        img {
            &:first-child {
                transform: scale(1.05);

                @include media(991) {
                    width: 170px;
                }
            }

            @keyframes logoRotate {
                from {
                    transform: rotateZ(0);
                }
                to {
                    transform: rotateZ(-360deg);
                }
            }

            &:last-child {
                z-index: -1;
                animation: logoRotate 15s linear infinite;

                @include media(991) {
                    width: 280px;
                    height: 280px;
                }
            }
        }
    }

    &-top {
        gap: 76px;
        margin-bottom: 24px;

        @include media(991) {
            margin-bottom: 29px;
            gap: 0;
        }
    }

    &-content {
        width: 100%;

        @include media(1420) {
            flex-direction: column;
            align-items: flex-end !important;
            gap: 20px;
        }

        &__text {
            @include media(1420) {
                width: 100%;
            }

            h3 {
                font-size: 48px;
                font-weight: 400;
                line-height: 60px;

                @include media(991) {
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }
            }

            h2 {
                font-size: 48px;
                font-weight: 600;
                line-height: 60px;
                margin-bottom: 26px;

                @include media(991) {
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    margin-bottom: 288px;
                }
            }

            h4 {
                font-size: 36px;
                line-height: 50px;
                font-weight: bold;

                @include media(991) {
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }
            }
        }

        &__search {
            input {
                width: 100%;
                height: 51px;
                border: 1px solid white;
                border-radius: 10px;
                font-size: 20px;
                font-family: $font-inter;
                color: white;
                padding: 0 12px;
            }

            button {
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &__right {
            width: 388px;
            gap: 24px;

            @include media(1420) {
                width: 100%;
            }

            h4 {
                font-size: 20px;
                font-weight: bold;
                font-style: italic;
                font-family: $font-pt-serif;
                margin-bottom: 8px;
            }

            p {
                font-size: 16px;
                font-weight: bold;
                font-style: italic;
                font-family: $font-pt-serif;

                @include media(1420) {
                    br {
                        display: none;
                    }
                }
            }
        }

        &__link {
            font-size: 18px;
            font-family: $font-inter;

            a {
                display: inline;
            }
        }
    }

    &-card {
        z-index: 1;
        height: 718px;
        padding: 74px 62px;

        @include media(1420) {
            height: 650px;
            padding: 64px 56px;
        }

        @include media(991) {
            height: 400px;
            padding: 20px 12px;
        }

        @include media(575) {
            height: 152px;
        }

        img {
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
            border-radius: 20px;

            @include media(991) {
                border-radius: 10px;
            }
        }

        h1 {
            font-size: 64px;
            font-weight: 900;
            color: #3B718A;
            text-transform: uppercase;

            @include media(1420) {
                font-size: 56px;
            }

            @include media(991) {
                font-size: 20px;
            }

            @include media(575) {
                font-size: 14px;
            }
        }
    }
}
// Home end

// News block
.news-block {
    margin-bottom: 100px;

    .container {
        gap: 21px;
    }

    &__left {
        width: 100%;
        gap: 64px;

        @include media(1199) {
            gap: 40px;
        }

        @include media(575) {
            gap: 24px;
        }
    }

    &__right {
        width: 403px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #F1E8F6;
        padding: 24px 26.5px 31px;

        @include media(1199) {
            width: 350px;
        }
    }

    &__item {
        gap: 48px;

        @include media(1199) {
            gap: 30px;
        }

        @include media(575) {
            gap: 18px;
        }

        h4 {
            font-size: 24px;
            line-height: 140%;
            color: #88368C;

            @include media(1199) {
                font-size: 20px;
            }

            @include media(575) {
                font-size: 12px;
            }
        }
    }

    h3 {
        font-size: 30px;
        font-weight: bold;
        line-height: 140%;
        color: #88368C;
        text-transform: uppercase;

        @include media(1199) {
            font-size: 26px;
        }

        @include media(575) {
            font-size: 16px;
        }
    }

    &__title {
        gap: 34px;

        @include media(1199) {
            gap: 25px;
        }

        h3 {
            font-size: 30px;
            font-weight: bold;
            line-height: 140%;
            color: #88368C;
            text-transform: uppercase;

            @include media(1199) {
                font-size: 26px;
            }

            @include media(575) {
                font-size: 16px;
            }
        }

        .line {
            margin-bottom: 10px;

            @include media(1199) {
                margin-bottom: 8px;
            }

            @include media(575) {
                display: none;
            }
        }
    }

    &__alert {
        background: #F1E8F6;
        padding: 30px 24px;
        border-radius: 10px 0 0 10px;
        border-left: 16px solid #8A3D8D;

        @include media(1199) {
            border-left: 10px solid #8A3D8D;
        }

        @include media(575) {
            padding: 16px 12px;
            border-left: 17px solid #8A3D8D;
        }

        &-wrap {
            padding-left: 64px;

            @include media(1199) {
                padding-left: 0;
            }
        }

        p {
            font-size: 24px;
            line-height: 140%;

            @include media(1199) {
                font-size: 20px;
            }

            @include media(575) {
                font-size: 12px;
            }
        }
    }

    .text-list {
        @include media(1199) {
            flex-direction: column !important;
            gap: 30px;
        }

        @include media(575) {
            gap: 18px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;

            @include media(1199) {
                font-size: 16px;
            }

            &.text-purple {
                color: #88368C;
            }
        }

        h5 {
            font-size: 24px;
            line-height: 140%;
            color: #686868;

            @include media(1199) {
                font-size: 20px;
            }

            @include media(575) {
                font-size: 12px;
            }
        }

        &__left {
            width: 43%;
            flex-shrink: 0;
            gap: 34px;
            padding-right: 60px;

            @include media(1199) {
                width: 100%;
                padding-right: 0;
            }

            @include media(575) {
                gap: 18px;
            }
        }

        &__right {
            width: 57%;
            gap: 20px;

            @include media(1199) {
                width: 100%;
            }

            @include media(575) {
                gap: 18px;
            }
        }
    }

    .btn-purple:not(.active) img {
        transform: rotate(180deg);
    }

    .texts {
        display: none;
        flex-direction: column;
        gap: 64px;

        &.active {
            display: flex;
        }

        @include media(1199) {
            gap: 40px;
        }

        @include media(575) {
            gap: 18px;
        }
    }

    .line {
        height: 4px;
        width: 100%;
        background: #F1E8F6;
        border-radius: 4px;
    }

    &__description {
        font-size: 24px;
        line-height: 140%;
        color: #686868;

        @include media(1199) {
            font-size: 20px;
        }

        @include media(575) {
            font-size: 12px;
        }

        &-sm {
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;

            @include media(1199) {
                font-size: 16px;
            }

            @include media(575) {
                font-size: 14px;
            }
        }
    }

    &__card {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;

            @include media(575) {
                border-radius: 10px;
            }
        }
    }


    &__list {
        gap: 45px;
        padding-left: 64px;

        @include media(1199) {
            gap: 30px;
            padding-left: 0;
        }

        @include media(575) {
            gap: 24px;
        }

        li {
            gap: 23px;
            font-size: 24px;
            line-height: 140%;

            @include media(1199) {
                font-size: 20px;

                img {
                    margin-top: 10px;
                }
            }

            @include media(575) {
                gap: 11px;
                font-size: 12px;

                img {
                    width: 24px;
                    flex-shrink: 0;
                }
            }
        }
    }
}
// News block end

// Event card
.event-card {
    &:not(:last-child) {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -48px;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background: #FFF;
        }
    }

    &__wrap {
        gap: 100px;
        margin-bottom: 48px;
    }

    img {
        height: 200px;
        width: 100%;
        border-radius: 16px;
        margin-bottom: 12px;
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
        line-height: 140%;
        margin-bottom: 8px;
        color: #3A3A3A;
    }

    h5 {
        font-size: 16px;
        line-height: 140%;
    }

    p {
        margin-top: 8px;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }

    a {
        margin-top: 12px;
    }
}
// Event card end

// top_btn
.top_btn {
    display: none;
    margin: 56px 0 162px 0;

    @include media(993) {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        justify-content: center;
    }

    span {
        font-family: $font-montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 22.4px;
        text-align: center;
        color: #88368C;
    }
}
// top_btn

// footer
.footer {
    border-radius: 20px 20px 0 0;
    background: #F1E8F6;

    @include media(993) {
        padding-top: 20px;
    }

    h6 {
        font-family: $font-montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 33.6px;
        color: #88368C;
        padding: 79px 0 21px 46px;

        @include media(993) {
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            padding: 0 0 24px 0;
        }
    }

    .container {
        padding: 0;
    }

    &_in {
        width: 90%;
        @include media(1420) {
            width: 100%;
        }

        @include media(993) {
            position: relative;
            padding: 100px 20px 40px 20px;
            border-radius: 10px;
            background: #fff;
        }
    }

    &_block {
        padding: 56px 46px 54px 46px;
        background: #ffffff;
        border-radius: 20px;
        display: flex;
        align-items: start;
        gap: 133px;
        position: relative;

        @include media(1200) {
            gap: 50px;
        }

        @include media(993) {
            position: static;
            padding: 0;
            gap: 28px;
            flex-direction: column;
            align-items: center;
        }

        .footer_img {
            position: absolute;
            right: -17%;
            top: 0;
            bottom: 0;
            margin: auto;

            @include media(1420) {
                width: 280px;
                flex-shrink: 0;
                height: 266px;
                right: -20px;
            }

            // @include media(1199) {
            //     width: 280px;
            //     flex-shrink: 0;
            //     height: 266px;
            // }

            @include media(993) {
                top: -28%;
                left: 0;
                right: 0;
                bottom: auto;
            }

            @include media(350) {
                width: 200px;
                height: 190px;
                top: -20%;
            }
        }

        .message_btn {
            margin-top: 61px;
            font-family: $font-roboto;
            font-size: 24px;
            font-weight: 700;
            line-height: 38px;
            text-align: center;
            color: #FFF;
            background: linear-gradient(180deg, rgba(201, 131, 204, 0) -48.08%, #B586BC 100%);
            padding: 8px 32px;
            border-radius: 5px;
            box-shadow: 5px 5px 15px 0px #B586BC80;

            @include media(993) {
                margin-top: 24px;
                font-size: 18px;
                line-height: 38px;
                width: 100%;
                padding: 4px;
            }
        }

        &_left {

            @include media(993) {
                width: 100%;
            }

            ol {
                padding-left: 20px;

                @include media(993) {
                    padding-left: 0;
                    text-align: center;
                }

                li {
                    list-style-type: disc;

                    @include media(993) {
                        list-style-type: none;
                    }
                }

                a {
                    font-family: $font-roboto;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 38px;
                    color: #252525;

                    @include media(993) {
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
            }
        }

        &_right {
            gap: 20px;

            @include media(993) {
                gap: 12px;
                width: 100%;
            }

            a {
                gap: 20px;
                font-family: $font-roboto;
                font-size: 24px;
                font-weight: 700;
                line-height: 38px;
                color: #88368C;

                @include media(993) {
                    font-size: 18px;
                    line-height: 38px;
                }
            }

            img {
                width: 55px;
                height: 55px;
                flex-shrink: 0;

                @include media(993) {
                    width: 42px;
                    height: 42px;
                }
            }
        }
    }

    &_bottom {
        padding: 34px 0 64px 46px;

        @include media(993) {
            padding: 24px 0 31px 0;
        }

        p,
        a {
            font-family: $font-montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: #252525;

            @include media(993) {
                font-size: 14px;
                line-height: 21px;
            }
        }

        a {
            margin-top: 20px;

            @include media(993) {
                margin-top: 12px;
            }

            br {
                display: none;

                @include media(993) {
                    display: block;
                }
            }
        }
    }
}
// footer
