@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none !important;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

body {
  background: #FFF;
  color: #252525;
  font-weight: 600;
  font-family: "Montserrat", serif;
}

.container {
  max-width: 1680px;
}
@media screen and (max-width: 1750px) {
  .container {
    max-width: 1360px;
  }
}
@media screen and (max-width: 1420px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: calc(100% - 36px);
  }
}

.btn-purple {
  background: #88368C;
  color: white;
  border-radius: 5px;
  padding: 10px 42px;
  font-size: 24px;
  font-family: "Roboto", serif;
  font-weight: bold;
  line-height: 38px;
  border: 0;
  display: inline-flex;
  align-items: center;
  gap: 14px;
}
.btn-purple:hover {
  color: #FFF;
  background: #751f7a;
}
@media screen and (max-width: 991px) {
  .btn-purple {
    padding: 9px 30px;
  }
}
@media screen and (max-width: 575px) {
  .btn-purple {
    width: 100%;
    justify-content: center;
  }
}
.btn-yellow {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", serif;
  line-height: 38px;
  color: #252525;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #FFD000;
  text-align: center;
}
.btn-yellow:hover {
  color: #252525;
  background: #e7be06;
}

.header {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  z-index: 4;
}
@media screen and (max-width: 991px) {
  .header {
    background: #88368C;
    top: 0;
  }
}
.header-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 0 30px;
  border-radius: 10px;
}
@media screen and (max-width: 991px) {
  .header-container {
    padding: 12px 0;
    background: transparent;
    border-radius: 0;
  }
  .header-container > div {
    gap: 14px;
  }
}
.header a {
  font-size: 24px;
  line-height: 120%;
  color: #88368C;
  padding: 13px 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .header a {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .header a {
    font-size: 16px;
    padding: 0;
  }
}
.header a.active, .header a:hover {
  background: #FFF;
}
.header .search-btn {
  width: 32px;
  height: 32px;
}
.header .bars {
  width: 44px;
  height: 44px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}
@media screen and (max-width: 991px) {
  .mobile-menu.active {
    display: block;
  }
}
.mobile-menu__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.619);
}
.mobile-menu__content {
  width: 300px;
  position: relative;
  height: 100%;
  background: #FFF;
  padding: 30px;
}
.mobile-menu__content ul {
  gap: 12px;
}
.mobile-menu__content a {
  font-size: 18px;
}

.home {
  position: relative;
  z-index: 1;
}
.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1248px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
@media screen and (max-width: 1420px) {
  .home-bg {
    height: calc(100% - 82px);
  }
}
.home-container {
  padding: 124px 0 48px;
}
@media screen and (max-width: 991px) {
  .home-container {
    padding: 78px 0 29px;
  }
}
.home-box {
  width: 402px;
  height: 402px;
  z-index: 1;
  flex-shrink: 0;
}
@media screen and (max-width: 1420px) {
  .home-box {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 991px) {
  .home-box {
    position: absolute !important;
    left: 50%;
    top: 143px;
    transform: translateX(-50%);
    width: 280px;
    height: 280px;
  }
}
.home-box img:first-child {
  transform: scale(1.05);
}
@media screen and (max-width: 1420px) {
  .home-box img:first-child {
    width: 210px;
  }
}
@media screen and (max-width: 991px) {
  .home-box img:first-child {
    width: 170px;
  }
}
@keyframes logoRotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
.home-box img:last-child {
  z-index: -1;
  animation: logoRotate 15s linear infinite;
}
@media screen and (max-width: 991px) {
  .home-box img:last-child {
    width: 280px;
    height: 280px;
  }
}
.home-top {
  gap: 76px;
  margin-bottom: 24px;
}
@media screen and (max-width: 1420px) {
  .home-top {
    gap: 30px;
  }
}
@media screen and (max-width: 991px) {
  .home-top {
    margin-bottom: 29px;
    gap: 0;
  }
}
.home-content {
  width: 100%;
}
@media screen and (max-width: 1420px) {
  .home-content {
    flex-direction: column;
    align-items: flex-end !important;
    gap: 20px;
  }
}
@media screen and (max-width: 1420px) {
  .home-content__text {
    width: 100%;
  }
}
.home-content__text h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}
@media screen and (max-width: 1420px) {
  .home-content__text h3 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (max-width: 991px) {
  .home-content__text h3 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
.home-content__text h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 26px;
}
@media screen and (max-width: 1420px) {
  .home-content__text h2 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
  .home-content__text h2 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 288px;
  }
}
.home-content__text h4 {
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
}
@media screen and (max-width: 1420px) {
  .home-content__text h4 {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (max-width: 991px) {
  .home-content__text h4 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
.home-content__search input {
  width: 100%;
  height: 51px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Inter", serif;
  color: white;
  padding: 0 12px;
}
.home-content__search button {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.home-content__right {
  width: 388px;
  gap: 24px;
}
@media screen and (max-width: 1420px) {
  .home-content__right {
    width: 100%;
    gap: 20px;
  }
}
.home-content__right h4 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: "PT Serif", serif;
  margin-bottom: 8px;
}
@media screen and (max-width: 1420px) {
  .home-content__right h4 {
    font-size: 18px;
  }
}
.home-content__right p {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-family: "PT Serif", serif;
}
@media screen and (max-width: 1420px) {
  .home-content__right p br {
    display: none;
  }
}
.home-content__link {
  font-size: 18px;
  font-family: "Inter", serif;
}
@media screen and (max-width: 1420px) {
  .home-content__link {
    font-size: 16px;
  }
}
.home-content__link a {
  display: inline;
}
.home-card {
  z-index: 1;
  height: 718px;
  padding: 74px 62px;
}
@media screen and (max-width: 1420px) {
  .home-card {
    height: 500px;
    padding: 64px 56px;
  }
}
@media screen and (max-width: 991px) {
  .home-card {
    height: 400px;
    padding: 20px 12px;
  }
}
@media screen and (max-width: 575px) {
  .home-card {
    height: 152px;
  }
}
.home-card img {
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  .home-card img {
    border-radius: 10px;
  }
}
.home-card h1 {
  font-size: 64px;
  font-weight: 900;
  color: #3B718A;
  text-transform: uppercase;
}
@media screen and (max-width: 1420px) {
  .home-card h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 991px) {
  .home-card h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .home-card h1 {
    font-size: 14px;
  }
}

.news-block {
  margin-bottom: 100px;
}
.news-block .container {
  gap: 21px;
}
.news-block__left {
  width: 100%;
  gap: 64px;
}
@media screen and (max-width: 1420px) {
  .news-block__left {
    gap: 40px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__left {
    gap: 24px;
  }
}
.news-block__right {
  width: 403px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F1E8F6;
  padding: 24px 26.5px 31px;
}
@media screen and (max-width: 1420px) {
  .news-block__right {
    width: 280px;
  }
}
@media screen and (max-width: 1420px) {
  .news-block__right .btn-yellow {
    font-size: 16px;
    padding: 8px;
    line-height: 140%;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.news-block__item {
  gap: 48px;
}
@media screen and (max-width: 1420px) {
  .news-block__item {
    gap: 30px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__item {
    gap: 18px;
  }
}
.news-block__item h4 {
  font-size: 24px;
  line-height: 140%;
  color: #88368C;
}
@media screen and (max-width: 1420px) {
  .news-block__item h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__item h4 {
    font-size: 12px;
  }
}
.news-block h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 140%;
  color: #88368C;
  text-transform: uppercase;
}
@media screen and (max-width: 1420px) {
  .news-block h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 575px) {
  .news-block h3 {
    font-size: 16px;
  }
}
.news-block__title {
  gap: 34px;
}
@media screen and (max-width: 1420px) {
  .news-block__title {
    gap: 25px;
  }
}
.news-block__title h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 140%;
  color: #88368C;
  text-transform: uppercase;
}
@media screen and (max-width: 1420px) {
  .news-block__title h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__title h3 {
    font-size: 16px;
  }
}
.news-block__title .line {
  margin-bottom: 10px;
}
@media screen and (max-width: 1420px) {
  .news-block__title .line {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__title .line {
    display: none;
  }
}
.news-block__alert {
  background: #F1E8F6;
  padding: 30px 24px;
  border-radius: 10px 0 0 10px;
  border-left: 16px solid #8A3D8D;
}
@media screen and (max-width: 1420px) {
  .news-block__alert {
    border-left: 10px solid #8A3D8D;
  }
}
@media screen and (max-width: 575px) {
  .news-block__alert {
    padding: 16px 12px;
    border-left: 17px solid #8A3D8D;
  }
}
.news-block__alert-wrap {
  padding-left: 64px;
}
@media screen and (max-width: 1420px) {
  .news-block__alert-wrap {
    padding-left: 0;
  }
}
.news-block__alert p {
  font-size: 24px;
  line-height: 140%;
}
@media screen and (max-width: 1420px) {
  .news-block__alert p {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__alert p {
    font-size: 12px;
  }
}
@media screen and (max-width: 1199px) {
  .news-block .text-list {
    flex-direction: column !important;
    gap: 30px;
  }
}
@media screen and (max-width: 575px) {
  .news-block .text-list {
    gap: 18px;
  }
}
.news-block .text-list p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (max-width: 1420px) {
  .news-block .text-list p {
    font-size: 16px;
  }
}
.news-block .text-list p.text-purple {
  color: #88368C;
}
.news-block .text-list h5 {
  font-size: 24px;
  line-height: 140%;
  color: #686868;
}
@media screen and (max-width: 1420px) {
  .news-block .text-list h5 {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .news-block .text-list h5 {
    font-size: 12px;
  }
}
.news-block .text-list__left {
  width: 43%;
  flex-shrink: 0;
  gap: 34px;
  padding-right: 60px;
}
@media screen and (max-width: 1199px) {
  .news-block .text-list__left {
    width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .news-block .text-list__left {
    gap: 18px;
  }
}
.news-block .text-list__right {
  width: 57%;
  gap: 20px;
}
@media screen and (max-width: 1199px) {
  .news-block .text-list__right {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .news-block .text-list__right {
    gap: 18px;
  }
}
.news-block .btn-purple:not(.active) img {
  transform: rotate(180deg);
}
.news-block .texts {
  display: none;
  flex-direction: column;
  gap: 64px;
}
.news-block .texts.active {
  display: flex;
}
@media screen and (max-width: 1420px) {
  .news-block .texts {
    gap: 40px;
  }
}
@media screen and (max-width: 575px) {
  .news-block .texts {
    gap: 18px;
  }
}
.news-block .line {
  height: 4px;
  width: 100%;
  background: #F1E8F6;
  border-radius: 4px;
}
.news-block__description {
  font-size: 24px;
  line-height: 140%;
  color: #686868;
}
@media screen and (max-width: 1420px) {
  .news-block__description {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__description {
    font-size: 12px;
  }
}
.news-block__description-sm {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 1420px) {
  .news-block__description-sm {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__description-sm {
    font-size: 14px;
  }
}
.news-block__card {
  width: 100%;
}
.news-block__card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 575px) {
  .news-block__card img {
    border-radius: 10px;
  }
}
.news-block__list {
  gap: 45px;
  padding-left: 64px;
}
@media screen and (max-width: 1420px) {
  .news-block__list {
    gap: 30px;
    padding-left: 0;
  }
}
@media screen and (max-width: 575px) {
  .news-block__list {
    gap: 24px;
  }
}
.news-block__list li {
  gap: 23px;
  font-size: 24px;
  line-height: 140%;
}
@media screen and (max-width: 1420px) {
  .news-block__list li {
    font-size: 20px;
  }
  .news-block__list li img {
    margin-top: 10px;
  }
}
@media screen and (max-width: 575px) {
  .news-block__list li {
    gap: 11px;
    font-size: 12px;
  }
  .news-block__list li img {
    width: 24px;
    flex-shrink: 0;
  }
}

.event-card:not(:last-child) {
  position: relative;
}
.event-card:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -48px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #FFF;
}
@media screen and (max-width: 1420px) {
  .event-card:not(:last-child)::after {
    bottom: -30px;
  }
}
.event-card__wrap {
  gap: 100px;
  margin-bottom: 48px;
}
@media screen and (max-width: 1420px) {
  .event-card__wrap {
    gap: 60px;
    margin-bottom: 30px;
  }
}
.event-card img {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1420px) {
  .event-card img {
    height: 150px;
    margin-bottom: 8px;
  }
}
.event-card h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 8px;
  color: #3A3A3A;
}
@media screen and (max-width: 1420px) {
  .event-card h4 {
    font-size: 16px;
  }
}
.event-card h5 {
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 1420px) {
  .event-card h5 {
    font-size: 14px;
  }
}
.event-card p {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 1420px) {
  .event-card p {
    font-size: 14px;
  }
}
.event-card a {
  margin-top: 12px;
}
@media screen and (max-width: 1420px) {
  .event-card a {
    font-size: 16px;
    padding: 8px;
    line-height: 140%;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.top_btn {
  display: none;
  margin: 56px 0 162px 0;
}
@media screen and (max-width: 993px) {
  .top_btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
}
.top_btn span {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #88368C;
}

.footer {
  border-radius: 20px 20px 0 0;
  background: #F1E8F6;
}
@media screen and (max-width: 993px) {
  .footer {
    padding-top: 20px;
  }
}
.footer h6 {
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  color: #88368C;
  padding: 79px 0 21px 46px;
}
@media screen and (max-width: 993px) {
  .footer h6 {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0 0 24px 0;
  }
}
@media screen and (max-width: 993px) {
  .footer .container {
    padding: 0;
  }
}
@media screen and (max-width: 993px) {
  .footer_in {
    position: relative;
    padding: 100px 20px 40px 20px;
    border-radius: 10px;
    background: #fff;
  }
}
.footer_block {
  padding: 56px 46px 54px 46px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: start;
  gap: 133px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .footer_block {
    gap: 50px;
  }
}
@media screen and (max-width: 993px) {
  .footer_block {
    position: static;
    padding: 0;
    gap: 28px;
    flex-direction: column;
    align-items: center;
  }
}
.footer_block .footer_img {
  position: absolute;
  right: -10%;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 1199px) {
  .footer_block .footer_img {
    width: 280px;
    flex-shrink: 0;
    height: 266px;
  }
}
@media screen and (max-width: 993px) {
  .footer_block .footer_img {
    top: -28%;
    left: 0;
    right: 0;
    bottom: auto;
  }
}
@media screen and (max-width: 350px) {
  .footer_block .footer_img {
    width: 200px;
    height: 190px;
    top: -20%;
  }
}
.footer_block .message_btn {
  margin-top: 61px;
  font-family: "Roboto", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: #FFF;
  background: linear-gradient(180deg, rgba(201, 131, 204, 0) -48.08%, #B586BC 100%);
  padding: 8px 32px;
  border: 5px;
  box-shadow: 5px 5px 15px 0px rgba(181, 134, 188, 0.5019607843);
}
@media screen and (max-width: 993px) {
  .footer_block .message_btn {
    margin-top: 24px;
    font-size: 18px;
    line-height: 38px;
    width: 100%;
    padding: 4px;
  }
}
@media screen and (max-width: 993px) {
  .footer_block_left {
    width: 100%;
  }
}
.footer_block_left ol {
  padding-left: 20px;
}
@media screen and (max-width: 993px) {
  .footer_block_left ol {
    padding-left: 0;
    text-align: center;
  }
}
.footer_block_left ol li {
  list-style-type: disc;
}
@media screen and (max-width: 993px) {
  .footer_block_left ol li {
    list-style-type: none;
  }
}
.footer_block_left ol a {
  font-family: "Roboto", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  color: #252525;
}
@media screen and (max-width: 993px) {
  .footer_block_left ol a {
    font-size: 16px;
    line-height: 21px;
  }
}
.footer_block_right {
  gap: 20px;
}
@media screen and (max-width: 993px) {
  .footer_block_right {
    gap: 12px;
    width: 100%;
  }
}
.footer_block_right a {
  gap: 20px;
  font-family: "Roboto", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  color: #88368C;
}
@media screen and (max-width: 993px) {
  .footer_block_right a {
    font-size: 18px;
    line-height: 38px;
  }
}
.footer_block_right img {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
@media screen and (max-width: 993px) {
  .footer_block_right img {
    width: 42px;
    height: 42px;
  }
}
.footer_bottom {
  padding: 34px 0 64px 46px;
}
@media screen and (max-width: 993px) {
  .footer_bottom {
    padding: 24px 0 31px 0;
  }
}
.footer_bottom p,
.footer_bottom a {
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #252525;
}
@media screen and (max-width: 993px) {
  .footer_bottom p,
  .footer_bottom a {
    font-size: 14px;
    line-height: 21px;
  }
}
.footer_bottom a {
  margin-top: 20px;
}
@media screen and (max-width: 993px) {
  .footer_bottom a {
    margin-top: 12px;
  }
}
.footer_bottom a br {
  display: none;
}
@media screen and (max-width: 993px) {
  .footer_bottom a br {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */